<p-dialog
  [baseZIndex]="10000"
  [style]="{width: '90vw'}"
  [visible]="true"
  header="ข้อตกลงการให้บริการ"
>
  <!-- <ng-template pTemplate="header">
    <p-button
      [disabled]="!isCheck && true"
      label="Submit"
      size="small"
      styleClass="w-full"
    ></p-button>
  </ng-template> -->

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ความเกี่ยวข้องของคุณกับ "GreenConNEXT"</h2>
    <ul>
      <li>เว็บไซต์ของบริษัท แฮนด์ดี้วิง จำกัด (HandyWings) ในชื่อ “www.greenconnext.com” ซึ่งต่อไปจะเรียกว่า “ผู้ให้บริการ”</li>
      <li>
        สิ่งที่คุณใช้ ไม่ว่าจะเป็น ผลิตภัณฑ์ ซอฟต์แวร์ บริการ หรือเว็บไซต์ ของผู้ให้บริการ ซึ่งต่อไปจะเรียกว่า “บริการ”
        คุณซึ่งเป็นผู้ใช้บริการไม่ว่าจะส่วนใดส่วนหนึ่งหรือทั้งหมดของผู้ให้บริการ ซึ่งต่อไปจะเรียกว่า “ผู้ใช้บริการ” โดยจะแยกได้ดังนี้ 1)
        เจ้าของสินค้า
      </li>
      <li>
        หรือผู้ที่นำสินค้ามาจัดจำหน่ายบนเว็บไซต์ผ่านบริการของผู้ให้บริการ ซึ่งต่อไปจะเรียกว่า “ผู้ขาย” และ 2) ผู้สั่งซื้อสินค้า และ/หรือ
        ใช้บริการเว็บไซต์ของผู้ขาย ซึ่งต่อไปจะเรียกว่า “ผู้ซื้อ”
      </li>
    </ul>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ผู้ใช้บริการตกลงจะปฏิบัติตามข้อตกลงและเงื่อนไขต่างๆ</h2>
    <ul>
      <li>
        การใช้บริการของผู้ให้บริการนั้นผู้ใช้บริการจำเป็นต้องเข้าใจและยอมรับข้อตกลงและเงื่อนไขต่างๆของผู้ให้บริการทั้งหมด
        จะถือว่าผู้ใช้บริการเข้าใจและยอมรับข้อตกลงและเงื่อนไขต่างๆ หากดำเนินการดังต่อไปนี้ 1) ผู้ใช้บริการคลิกปุ่มตกลงและยอมรับเงื่อนไข
        ซึ่งทางผู้ให้บริการจะมีทางเลือกที่จะยอมรับหรือไม่ก่อน หรือ แสดงแจ้งเตือนการยอมรับของผู้ใช้บริการก่อนการคลิกปุ่มตกลง 2)
        ผู้ใช้บริการเข้าใช้
      </li>
      <li>
        บริการของผู้ให้บริการซึ่งในกรณีนี้ผู้ใช้บริการต้องยอมรับว่าทางผู้ให้บริการจะถือว่าผู้ใช้บริการเข้าใจและยอมรับข้อตกลงและเงื่อนไขต่างๆ
        ตั้งแต่เริ่มใช้บริการเป็นต้นไป
      </li>
      <li>ผู้ใช้บริการควรพิมพ์ข้อตกลงและเงื่อนไขต่างๆของผู้ให้บริการเพื่อเป็นบันทึกช่วยจำของผู้ใช้บริการ</li>
    </ul>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ผู้ให้บริการขอสงวนสิทธิ์ไม่ให้บริการเว็บไซต์ร้านค้า ดังต่อไปนี้</h2>
    <ul>
      <li>
        เว็บไซต์ที่ใช้ในจุดประสงค์อื่นๆที่ไม่ใช่เพื่อการซื้อ-ขายสินค้า เช่น เว็บไซต์รับประกาศสินค้า, เว็บไซต์รวมลิงก์,
        เว็บไซต์สื่อกลางระหว่างเว็บไซต์, เว็บไซต์ขายสินค้าแบบ Affiliate เป็นต้น
      </li>
      <li>
        ผิดกฎหมายหรือขัดต่อศีลธรรมอันดีของไทย เช่น การละเมิดลิขสิทธิ์ของผู้อื่น การข่มขู่ เว็บไซต์ที่เกี่ยวกับสื่อลามก หรือ
        เนื้อหาส่อไปทางลามก เซ็กส์ ขายบริการทางเพศ รวมทั้งเว็บไซต์ที่มีลิงค์ไปยังเว็บไซต์ที่เกี่ยวกับสื่อลามก
      </li>
      <li>
        เกี่ยวข้องกับธุรกิจเครือข่าย และผลิตภัณฑ์ที่จำหน่ายโดยมีความสัมพันธ์ตามค่าคอมมิชชั่น
        ซึ่งรวมทั้งหน้ารายการที่ทำขึ้นมาจากโฆษณาเป็นหลัก
      </li>
      <li>
        เกี่ยวกับการตลาดแบบหลายระดับชั้น (MLM) หรือธุรกิจอื่นที่สรรหาสมาชิกและมอบของรางวัลให้สำหรับการสรรหาสมาชิกรายอื่นๆ
        และ/หรือการขายบริการต่างๆ
      </li>
      <li>
        พบทุจริต ฉ้อโกง ในการซื้อ-ขาย ไม่ว่ากรณีใดๆ ทั้งสิ้น (ทั้งในอดีตและปัจจุบัน)
        ทั้งนี้ผู้ให้บริการขอสงวนสิทธิ์ในการตัดสินใจว่าสิ่งใดถือว่าเป็นการทุจริต
      </li>
      <li>เกี่ยวกับ Hacker , Warez , Crack, เผยแพร่ไวรัส หนอนอินเตอร์เน็ต โทร์จัน หรืออื่นๆ ที่เกี่ยวข้องกับซอฟท์แวร์ผิดกฎหมาย</li>
      <li>หลอกลวงผู้อื่นด้วยการแสดงข้อความอันเป็นเท็จ โฆษณาเกินจริง หรือปกปิดข้อความจริงซึ่งควรบอกให้แจ้ง</li>
      <li>
        ใช้งานที่ส่งผลกระทบกระเทือนกับต่อระบบและทรัพยากรของระบบ อาทิเช่น การใช้งาน CPU เกินขอบเขต การใช้งาน Email เกินขอบเขต การเจาะระบบ
        (Hacking) การใช้งานโปรแกรม IRC Bots หรือการใช้งานโปรแกรมใด ๆ ที่ส่งผลกระทบต่อการทำงานของระบบ
        และผู้ให้บริการขอสงวนสิทธิ์ในการพิจารณาว่า การใช้งานใดเป็นการใช้งานอย่างเกินขอบเขต
      </li>
      <li>
        มีการนำพื้นที่ อีเมล หรือ ทรัพยากรอื่น ๆ ที่ได้รับบริการ ไปแจกจ่ายต่อไปยังบุคคลอื่นในลักษณะฟรี หรือที่เรียกกันว่า Free email และ
        Free Hosting
      </li>
      <li>
        มีการทำ Commercial Mass Emailing หรือ “Spamming” ไม่ว่ากรณีใดๆ ทั้งสิ้น เช่น การส่งโฆษณาไปยังอีเมลผู้อื่นโดยผู้อื่นไม่ได้ขอ,
        การส่งอีเมลโดยใช้ที่อยู่ส่งกลับที่ไม่มีจริงทางด้านธุรกิจ, การส่งข้อความลูกโซ่เพื่อจะทำให้เกิดการตอบกลับจำนวนมาก และการส่งข้อความซ้ำๆ
        เดิมๆ ไปยังผู้อื่น เป็นต้น
      </li>
      <li>มีข้อมูลและไฟล์ต่างๆ บนเครื่องเซิฟเวอร์ของผู้ให้บริการ ติดไวรัส มัลแวร์ ไมว่ากรณีใดๆ</li>
      <li>
        มีการ เพิ่ม เปลี่ยนแปลง หรือลบ การทำงานหรือการแสดงผลส่วนต่างๆ ของระบบร้านค้า เช่น การนำตะกร้าสินค้า,
        การสร้างสัญลักษณ์หรือภาพของตนเองเจตนาหลอกลวงว่าเป็นของระบบ เป็นต้น
      </li>
    </ul>
    <p class="mt-3">
      หากผู้ให้บริการตรวจพบเว็บไซต์ร้านค้าที่ผิดข้อตกลงตามดังกล่าว จะดำเนินการงดการให้บริการทันที โดยไม่มีการคืนค่าบริการใดๆ ทั้งสิ้น
      และไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า ทั้งนี้ผู้ให้บริการขอสงวนสิทธิ์ในการพิจารณาตรวจสอบร้านค้าว่าผิดตามข้อตกลงหรือไม่
      หากมีข้อโต้แย้งใดๆ ให้ถือเอาคำตัดสินของผู้ให้บริการเป็นที่สิ้นสุด
    </p>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">หากผู้ให้บริการตรวจพบเว็บไซต์ร้านค้าที่ผิดข้อตกลง</h2>
    <p>
      หากผู้ให้บริการตรวจพบเว็บไซต์ร้านค้าที่ผิดข้อตกลงตามดังกล่าว จะดำเนินการงดการให้บริการทันที โดยไม่มีการคืนค่าบริการใดๆ ทั้งสิ้น
      และไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า ทั้งนี้ผู้ให้บริการขอสงวนสิทธิ์ในการพิจารณาตรวจสอบร้านค้าว่าผิดตามข้อตกลงหรือไม่
      หากมีข้อโต้แย้งใดๆ ให้ถือเอาคำตัดสินของผู้ให้บริการเป็นที่สิ้นสุด
    </p>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงในการคิดค่าบริการและเปลี่ยนรูปแบบของการให้บริการ</h2>
    <ul>
      <li>
        บริการร้านค้าออนไลน์ พื้นที่เก็บเว็บไซต์และการใช้งานรับ-ส่งข้อมูลผ่านเซิฟเวอร์ของผู้ให้บริการ
        รวมไปถึงระบบการทำงานต่างๆของร้านค้าออนไลน์ ทั้งหมดนี้ผู้ให้บริการจะไม่คิดค่าบริการใดๆ
      </li>
      <li>
        บริการอัพเกรดพิเศษ คือ ระบบการทำงานในร้านค้าออนไลน์ หรือบริการอื่นๆ ที่ทางผู้ให้บริการได้กำหนดไว้ จะคิดค่าบริการเป็นช่วงเวลาต่างๆ
        ซึ่งอาจเป็น วัน เดือน หรือปี หากหมดอายุการใช้บริการ ผู้ใช้บริการจะต้องต่ออายุจึงจะสามารถใช้งานบริการอัพเกรดได้
        ทั้งนี้ผู้ใช้บริการสามารถที่จะใช้บริการอัพเกรดที่ทางผู้ให้บริการกำหนดไว้หรือไม่ก็ได้
        ไม่มีผลกับการให้บริการร้านค้าออนไลน์ที่ไม่คิดค่าบริการตามข้อข้างต้น
      </li>
      <li>
        ผู้ให้บริการอาจปรับเปลี่ยนรูปแบบของการให้บริการ โดยอาจปรับอัตราค่าบริการในระดับที่สูงขึ้น หรือต่ำลงซึ่งจะแจ้งให้ทราบล่วงหน้า 7 วัน
      </li>
      <li>
        ในกรณีที่ปรับลดราคาค่าบริการ
        ผู้ให้บริการขอสงวนสิทธิ์ในการคืนค่าบริการและให้ผู้ใช้บริการชำระเงินตามอัตราค่าบริการใหม่เมื่อทำการต่ออายุ
      </li>
      <li>
        ในกรณีที่ปรับเพิ่มราคาค่าบริการ ผู้ใช้บริการเก่าให้ใช้อัตราค่าบริการเดิมในการต่ออายุ ยกเว้นแต่จะแจ้งล่วงหน้าไว้เป็นอย่างอื่น
        และผู้ใช้บริการใหม่ให้ใช้ตามอัตราค่าบริการใหม่ ทั้งนี้เริ่มนับการใช้บริการตั้งแต่วันที่มีการชำระค่าบริการ
      </li>
    </ul>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงขอบเขตความรับผิดชอบของผู้ให้บริการ</h2>
    <ul>
      <li>
        ผู้ให้บริการมีหน้าที่เพียงให้บริการในการอำนวยความสะดวกในการซื้อขายสินค้าระหว่างผู้ซื้อและผู้ขายเท่านั้น
        ผู้ให้บริการไม่มีส่วนเกี่ยวข้องใดๆ กับสินค้าของผู้ขายแต่อย่างใด
      </li>
      <li>
        สินค้าที่ผู้ขายนำมาจัดจำหน่ายผ่านเว็บไซต์ผ่านบริการของผู้ให้บริการ รวมถึงข้อมูลใดๆ ให้ถือว่าผู้ขายเป็นเจ้าของสินค้าหรือข้อมูลนั้นๆ
        และผู้ขายได้เข้าใจกฎข้อบังคับของผู้ให้บริการเป็นอย่างดีแล้ว
      </li>
      <li>
        หากผู้ใช้บริการได้กระทำผิดตามข้อตกลงของสัญญาฉบับนี้ หรือทุจริตในการซื้อ-ขายสินค้า
        ผู้ใช้บริการจำเป็นต้องชดเชยต่อความเสียหายอันเกิดจากการกระทำดังกล่าวต่อผู้ให้บริการ และ/หรือบุคคลอื่นที่ได้รับความเสียหาย
        หรือถูกละเมิดจากกรณีดังกล่าวทั้งหมด รวมถึงจะต้องถูกดำเนินคดีตามกฎหมายต่อไป
      </li>
      <li>
        ผู้ให้บริการจะไม่รับผิดชอบค่าเสียหายหรือค่าตอบแทนใดๆทั้งสิ้น หากผู้ใช้บริการถูกหลอกลวงหรือฉ้อโกงทรัพย์สินจากผู้ใช้บริการอื่น
        แต่ทางผู้ให้บริการยินดีที่จะให้ความช่วยเหลือถึงที่สุดเพื่อให้ได้ทรัพย์สินของผู้ใช้บริการกลับคืนมา
        นอกจากนั้นทางผู้ให้บริการจะแสดงระดับความน่าเชื่อถือของร้านค้าไว้ที่ร้านค้าออนไลน์นั้นๆ
        เพื่อเป็นข้อมูลให้ผู้ใช้บริการประกอบการตัดสินใจในการเลือกซื้อสินค้า
      </li>
      <li>
        ผู้ให้บริการไม่อาจให้การรับประกันว่า บริการจะมีอย่างต่อเนื่องโดยไม่มีการหยุด หรือไม่มีข้อบกพร่องใด ๆ
        และผู้ให้บริการจะไม่รับผิดชอบต่อการกระทำโดยจงใจ หรือโดยประมาทเลินเล่อในการทำหน้าที่ของบุคคลที่สาม เช่น ปัญหาการเชื่อมต่ออินเตอร์เน็ต
        การติดขัดในช่องสัญญาณ เครือข่ายอินเตอร์เน็ต การสื่อสารผิดพลาด ภัยธรรมชาติ การก่อการร้าย อัคคีภัย หรือการหยุดให้บริการชั่วคราว
        และจากปัญหาที่มิได้เป็นปัญหาของผู้ให้บริการ
      </li>
      <li>
        ผู้ให้บริการจะจ่ายคืนค่าใช้บริการตามส่วน หากทางผู้ให้บริการเป็นผู้ยกเลิกสัญญาการให้บริการเองเท่านั้น เช่น การยุติการให้บริการ
        ล้มเลิก หรือไม่สามารถให้บริการต่อไปได้ และผู้ให้บริการจะไม่รับผิดชอบในการชดใช้ค่าเสียหายอื่น ๆ
        นอกเหนือจากค่าบริการที่ผู้ใช้บริการได้ชำระกับผู้ให้บริการแล้วเท่านั้น
      </li>
    </ul>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงในการสำรองข้อมูล</h2>
    <p>
      ผู้ให้บริการไม่รับผิดชอบในกรณีที่ข้อมูลภายในเว็บไซต์นั้นสูญหายไปไม่ว่ากรณีใดๆ หรือเนื่องจากความผิดพลาดของอุปกรณ์ อันเป็นเหตุสุดวิสัย
      ถึงแม้ผู้ให้บริการจะมีบริการสำรองข้อมูลของผู้ใช้บริการ แต่ก็ไม่สามารถรับประกันได้ว่า ข้อมูลนั้นจะมีความถูกต้องครบถ้วน
      ดังนั้นผู้ใช้บริการจึงควรมีข้อมูลสำรองไว้อย่างน้อยจำนวน 1 ชุดเสมอ
      อย่างไรก็ตามผู้ให้บริการยินดีให้ความช่วยเหลือถึงที่สุดในการนำข้อมูลกลับคืนมา
    </p>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงในการรักษาความปลอดภัยในข้อมูลและรหัสผ่าน</h2>
    <ul>
      <li>
        ผู้ใช้บริการต้องเก็บรักษาข้อมูลและรหัสผ่านที่ใช้บริการกับทางผู้ให้บริการไว้เป็นอย่างดี ทางผู้ให้บริการจัดเก็บข้อมูลไว้ในที่ปลอดภัย
        และผู้ให้บริการจะไม่รับผิดชอบใด ๆ หากเกิดความเสียหายแก่เว็บไซต์ หรือข้อมูล ที่เกิดขึ้นจากความประมาทของผู้ใช้บริการ
      </li>
      <li>ผู้ใช้บริการยอมรับว่าจะต้องรับผิดชอบต่อผู้ให้บริการ สำหรับกิจกรรมทั้งหมดที่เกิดขึ้นภายใต้บัญชีของผู้ใช้บริการ</li>
      <li>
        ในกรณีที่ผู้ใช้บริการลืมรหัสผ่านใดๆ ผู้ใช้บริการสามารถขอรหัสผ่านใหม่ได้ทางวิธีที่ทางผู้ให้บริการกำหนด
        โดยผู้ให้บริการจะทำการตั้งรหัสผ่านใหม่ และแจ้งให้ทางอีเมลที่ใช้ในการสั่งซื้อบริการนั้นๆ เท่านั้น
      </li>
      <li>
        หากผู้ใช้บริการมีความสงสัยว่าจะข้อมูลหรือรหัสผ่านได้ถูกขโมย ให้ผู้ใช้บริการดำเนินการเปลี่ยนรหัสผ่านโดยทันที
        และจำเป็นต้องแจ้งให้ผู้ให้บริการทราบด้วย
      </li>
    </ul>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงในการเก็บรักษาข้อมูลและเนื้อหาที่มีความเป็นส่วนตัว</h2>
    <ul>
      <li>
        สำหรับข้อมูลที่ทางผู้ให้บริการเก็บรักษาไว้ ให้ผู้ใช้บริการอ่านนโยบายคุ้มครองข้อมูลส่วนบุคคลของเว็บไซต์ GreenConNEXT ที่
        https://www.greenconnext.com/privacy/ นโยบายนี้จะอธิบายเกี่ยวกับวิธีการเก็บข้อมูล และการรักษาข้อมูลส่วนตัวต่างๆ
        ที่ผู้ใช้บริการจำเป็นต้องรับทราบ
      </li>
      <li>
        ผู้ใช้บริการต้องยอมรับให้เราเก็บ ใช้ และเปิดเผยข้อมูลส่วนตัวของคุณ ภายใต้นโยบายคุ้มครองข้อมูลส่วนบุคคลของเว็บไซต์ GreenConNEXT
      </li>
    </ul>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงในการขอคืนค่าบริการ</h2>
    <ul>
      <li>
        ผู้ให้บริการขอสงวนสิทธิ์ในการคืนค่าบริการในกรณีที่ผู้ใช้ต้องการยกเลิกใช้บริการ หรือปรับลดบริการลง ก่อนครบกำหนดสัญญา
        และผู้ใช้บริการไม่มีสิทธิ์เรียกค่าบริการคืน ไม่ว่าบางส่วน หรือทั้งหมดได้ เว้นแต่ทางผู้ให้บริการจะเป็นผู้ยกเลิกบริการเอง
        โดยจะคืนค่าบริการตามสมควรให้เท่านั้น และผู้ใช้บริการจะไม่สามารถเรียกร้องค่าเสียหายอื่น ๆ ที่เกิดขึ้นกับการใช้บริการนั้นๆ
        นอกเหนือจากค่าบริการที่ผู้ใช้บริการได้ชำระกับผู้ให้บริการแล้วเท่านั้น
      </li>
      <li>
        กรณีมีการละเมิดข้อตกลงการใช้งานผู้ให้บริการจะแจ้งเตือน และจะหยุดให้บริการหากผู้ใช้บริการไม่ทำการแก้ไขให้ถูกต้อง
        และผู้ใช้บริการจะไม่สามารถเรียกร้องสิทธิ์ในการคืนเงินได้ และหากเป็นการกระทำที่ส่งผลกระทบต่อ ระบบ เครือข่าย
        และชื่อเสียงของผู้ให้บริการ ผู้ใช้บริการจะต้องรับผิดชอบความเสียหายที่เกิดขึ้นทั้งหมด
      </li>
    </ul>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงการใช้งานสำหรับหน้าร้านค้าออนไลน์</h2>
    <p>
      เพื่อเพิ่มความมั่นใจในการซื้อสินค้าให้กับผู้ซื้อ รวมถึงลดข้อพิพาทจากกรณีผู้ซื้อไม่สามารถติดต่อผู้ขายได้
      ในกรณีที่ร้านค้าไม่ได้เข้าสู่ระบบจัดการร้านค้าเป็นระยะเวลาเกิน 1 ปีหรือไม่ได้ลงทะเบียนยืนยันตัวตน
      ผู้ให้บริการขอสงวนสิทธิในการดำเนินการปิดร้านค้าโดยอัตโนมัติ
    </p>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงการใช้งานสำหรับหน้าร้านค้าออนไลน์</h2>
    <p>ผู้ขายจะถูกงดการให้บริการทันที หากผู้ให้บริการพบเห็นการทุจริต และจะต้องถูกดำเนินคดีตามกฎหมายต่อไป</p>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">การลบข้อมูลร้านค้า</h2>
    <p>
      ทั้งนี้ข้อมูลร้านค้าของคุณทั้งหมดไม่ว่าจะเป็น ข้อมูลสินค้า ข้อมูลหน้าร้าน รูปภาพ และรายละเอียดอื่นๆในร้าน จะยังอยู่ในระบบจัดการร้านค้า
      โดยไม่ได้ถูกลบแต่อย่างใด แม้ว่าผู้ขายไม่มีการเข้าสู่ระบบจัดการร้านค้าเลยก็ตาม ตามนโยบายการให้บริการของ GreenConNEXT
      ที่จะไม่ลบร้านค้าของคุณ
    </p>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงในการระงับการให้บริการ</h2>
    <p>
      ผู้ให้บริการสามารถระงับการให้บริการแก่ร้านค้าใดๆ ตามเห็นสมควร ถึงแม้ว่าร้านค้าจะไม่ได้ละเมิดข้อตกลงใดๆ เลยก็ตาม
      โดยผู้ให้บริการจะคืนค่าบริการเฉพาะในส่วนที่ยังไม่ได้ใช้งานตามจริงเท่านั้น ตัวอย่างเช่น บริการอัพเกรดที่ยังเหลือออายุอยู่ เป็นต้น
      ยกเว้นบริการโดเมนเนม ที่จะไม่มีการคืนค่าบริการ ทั้งนี้เจ้าของร้านค้าสามารถแจ้งให้ผู้ให้บริการชี้โดเมนเนม (เปลี่ยนค่า Name Server)
      ไปยังผู้ให้บริการรายอื่น หรือย้ายโดเมนเนมไปยังผู้ให้บริการรายอื่นได้ และผู้ใช้บริการจะไม่สามารถเรียกร้องค่าเสียหายอื่น ๆ
      นอกเหนือจากค่าบริการที่ผู้ใช้บริการได้ชำระกับผู้ให้บริการแล้วเท่านั้น
    </p>
  </section>

  <section class="mt-3 mb-2">
    <h2 class="text-base font-bold">ข้อตกลงในการเปลี่ยนแปลงข้อตกลงและเงื่อนไขต่างๆ</h2>
    <ul>
      <li>ผู้ให้บริการสามารถเปลี่ยนแปลงนโยบายข้อตกลงและเงื่อนไขต่างๆในการให้บริการได้โดยไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า</li>
      <li>
        ผู้ใช้บริการต้องเข้าใจและยอมรับข้อตกลงและเงื่อนไขต่างๆของผู้ให้บริการที่ได้มีการเปลี่ยนแปลงแล้ว
        หากผู้ใช้บริการเข้าใช้บริการหลังมีการเปลี่ยนแปลง
      </li>
    </ul>
  </section>

  <p-checkbox
    [(ngModel)]="isCheck"
    [binary]="true"
    name="groupname"
    label="ฉันยอมรับและเงื่อนไขการใช้บริการ"
  ></p-checkbox>

  <ng-template pTemplate="footer">
    <p-button
      [disabled]="!isCheck && true"
      label="Submit"
      size="small"
      styleClass="w-full"
    ></p-button>
  </ng-template>
</p-dialog>
