<app-navbar
  textColorClass="text-white"
  title="home"
  titleAlign="center"
>
  <ng-template #actionButton>
    <button (click)="changeLang('th')">TH</button>
    &nbsp;
    <button (click)="changeLang('en')">EN</button>
  </ng-template>
</app-navbar>

<div class="pt-[50px]">
  <p class="text-3xl font-bold underline">home works!</p>
  <a
    [routerLink]="['/insurance']"
    routerLinkActive="router-link-active"
  >
    สมัครเลย !!
  </a>
</div>
<div class="flex grow gap-3 p-3">
  <input
    [(ngModel)]="value"
    class="p-inputtext-sm w-full"
    pInputText
    placeholder="Small"
    type="text"
  />
</div>

<button
  class="p-button-success"
  label="Submit"
  pButton
  pRipple
></button>
