<app-navbar
  textColorClass="text-white"
  title="home"
  titleAlign="center"
>
  <ng-template #actionButton>
    <button (click)="changeLang('th')">TH</button>
    &nbsp;
    <button (click)="changeLang('en')">EN</button>
  </ng-template>
</app-navbar>

<div class="max-xl mx-auto pt-[50px] px-3">
  <a
    [routerLink]="['/insurance']"
    routerLinkActive="router-link-active"
  >
    <p class="text-3xl font-bold underline">สมัครเลย !!</p>
  </a>
</div>
<div class="grid grid-cols-1 gap-3 p-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
  @for(list of lists; let i = $index; track list; ) {
  <app-product-card [item]="i"></app-product-card>
  }
</div>
