// @use "@angular/material" as mat;

// @include mat.core();

// $insurance-primary: mat.define-palette(mat.$indigo-palette);
// $insurance-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $insurance-warn: mat.define-palette(mat.$red-palette);
// $insurance-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $insurance-primary,
//       accent: $insurance-accent,
//       warn: $insurance-warn,
//     ),
//   )
// );
// @include mat.all-component-themes($insurance-theme);

// tailwind
// @layer tw-base, primeng, tw-components, tw-utilities;

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @import "tailwindcss/base.css" layer(tw-base);
// @import "tailwindcss/components.css" layer(tw-components);
// @import "tailwindcss/utilities.css" layer(tw-utilities);

// // primeng
// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  @apply bg-neutral-100;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
//   .mdc-notched-outline__notch {
//   border-right-style: hidden;
// }
